# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript build output
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# dotenv environment files
.env
.env.development
.env.test
.env.production
.env.local
.env.*.local

# Database and ORM files
*.sqlite
*.sqlite-journal
pgdata/
migrations/
seeds/

# TypeScript cache
*.tsbuildinfo

# OS-specific files
.DS_Store
Thumbs.db

# Editor and IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak

# Testing and coverage
coverage/
.nyc_output/

# Debugging tools
*.swp
*.swo

# Misc
tmp/
out/
